mixin arrow()
  svg(width="9" height="14" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")&attributes(attributes)
    g(transform="matrix(-1 0 0 1 12 -1)")
      block

mixin arrow_right()
  +arrow(class="action action__right")&attributes(attributes)
    path(d="M7.5 11.727c-.386 0-.623-.155-.935-.487L1.178 5.494a.917.917 0 0 1 0-1.238.785.785 0 0 1 1.16 0L7.5 9.763l5.162-5.507a.785.785 0 0 1 1.16 0c.32.342.32.896 0 1.238l-5.368 5.725c-.318.34-.568.508-.954.508z" fill="currentColor" fill-rule="nonzero" transform="rotate(90 7.5 7.863)")
        
mixin arrow_left()
  +arrow(class="action action__left")&attributes(attributes)
    path(d="M7.5 11.727c-.386 0-.623-.155-.935-.487L1.178 5.494a.917.917 0 0 1 0-1.238.785.785 0 0 1 1.16 0L7.5 9.763l5.162-5.507a.785.785 0 0 1 1.16 0c.32.342.32.896 0 1.238l-5.368 5.725c-.318.34-.568.508-.954.508z" fill="currentColor" fill-rule="nonzero" transform="matrix(0 1 1 0 -.363 .363)")
      
mixin arrow_doubleup()
  svg(width="16" height="16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")&attributes(attributes)
    path(fill="currentColor" d="M8 1c.412 0 .679.168 1.018.508l5.726 5.725a.875.875 0 1 1-1.238 1.238L8 2.964 2.494 8.471a.875.875 0 1 1-1.238-1.238l5.746-5.746C7.335 1.155 7.588 1 8 1zm0 6c.412 0 .679.168 1.018.508l5.726 5.725a.875.875 0 1 1-1.238 1.238L8 8.964l-5.506 5.507a.875.875 0 1 1-1.238-1.238l5.746-5.746C7.335 7.155 7.588 7 8 7z")
