include arrows.pug

//- mixins
//- links
mixin link(title)
  a(href="#" title=title)&attributes(attributes)= title
  
mixin link_main(title)
  +link(title)(class="main-nav__link")
  
mixin link_footer(title)
  +link(title)(class="footer__link")
  
//- icons
mixin icon_light()
  img(src="assets/icon_sun.svg" alt="light")

mixin icon_light_active()
  img(src="assets/icon_sun_active.svg" alt="light_active")

mixin icon_temp()
  img(src="assets/icon_temperature.svg" alt="temp")

mixin icon_temp_active()
  img(src="assets/icon_temperature_active.svg" alt="temp_active")
    
mixin icon_timer()
  img(src="assets/icon_scheduled.svg" alt="scheduled")
  
//- important stuff  
mixin item(name, info, key, active)
  div.item.has-hover&attributes(attributes)
    i.item__icon
      if key === "light"
        if active 
          +icon_light_active()
        else
          +icon_light()
      else if key === "temp"
        if active
          +icon_temp_active()
        else
          +icon_temp()
      else if key === "scheduled"
        +icon_timer()
      else if block
        block
    h3.item__name= name
    span.info.info--item= info
    
mixin item_big(name, info, key, active)
  +item(name, info, key, active)(class="item--big")
    block
  
mixin pill(name)
  .subnav__pill.has-hover&attributes(attributes)= name
    
//- code

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="developer" content="Evgenia Polozova")
    title Яндекс Дом
    link(rel="stylesheet" href="main.css" type="text/css")
  body
    header.header
      .container.container--centered
        a.header__logo(href="#" title="Яндекс Дом")
          img(src="assets/logo@1x.png" srcset="assets/logo@1x.png, assets/logo@2x.png 2x" alt="Яндекс Дом")
        nav.main-nav
          +link_main("Сводка")
          +link_main("Устройства")
          +link_main("Сценарии")
    section.main
      .container.container--grid
        article.main__part.main__part--small.details
          h2.main__heading
            | Главное
          .details__container
            .details__main
              .details__header
                h1.details__greeting
                  | Привет, Геннадий!
                p.details__info Двери и окна закрыты, сигнализация включена.
              .weather__container
                .weather
                  span.info
                    | Дома:
                  p.weather__temp
                    | +23
                .weather
                  span.info
                    | За окном:
                  p.weather__temp
                    | +19&nbsp;
                    img(src="assets/cloud-drizzle.svg")
            .details__scripts
              +item_big("Philips Cooler", "Начнет охлаждать в 16:30", "light")
              +item_big("Xiaomi Yeelight LED Smart Bulb", "Включится в 17:00", "temp")
        article.main__part.main__part--small.scripts
          h2.main__heading
            | Избранные сценарии
            .actions
              +arrow_left()
              +arrow_right()(class="action--available")
          .no-overflow
            .scripts__container
              +item("Выключить весь свет в доме и во дворе", "", "light", "active")
              +item("Я ухожу", "", "scheduled")
              +item("Включить свет в коридоре", "", "light", "active")
              +item("Набрать горячую ванну", "Начнется в 18:00", "temp", "active")
              +item("Сделать пол тёплым во всей квартире", "", "temp")
        article.main__part.main__part--big.devices
          h2.main__heading
            | Избранные девайсы
            nav.subnav
              +pill("Все")(class="subnav__pill--active")
              +pill("Кухня")
              +pill("Зал")
              +pill("Лампочки")
              +pill("Камеры")
            .actions
              +arrow_left()
              +arrow_right()
          .devices__container
            +item_big("Xiaomi Yeelight LED Smart Bulb", "Включено", "light", "active")
            +item_big("D-Link Omna 180 Cam", "Включится в 17:00", "light")
            +item_big("Elgato Eve Degree Connected", "Выключено до 17:00", "temp")
            +item_big("LIFX Mini Day & Dusk A60 E27", "Включится в 17:00", "light")
            +item_big("Xiaomi Mi Air Purifier 2S", "Включено", "light", "active")
            +item_big("Philips Zhirui", "Выключено", "light")
            +item_big("Xiaomi Mi Air Purifier 2S", "Включено", "light", "active")
            +item_big("Philips Zhirui", "Выключено", "light")
    footer.footer
      .container.container--centered
        +link_footer("Помощь")
        +link_footer("Обратная связь")
        +link_footer("Разработчикам")
        +link_footer("Условия использования")
        span.footer__copyright
          | © 2001–2017   ООО «Яндекс»
    script(src="main.js")
