doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="developer" content="Evgenia Polozova")
    title Яндекс Дом
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" type="text/css")
    link(rel="stylesheet" href="main.css" type="text/css")

  body
    header.header 
      div.container Hi?
    section.main
      div.container
    footer.footer
      div.container
        a.footer__link(href="#" title="Помощь" target="_blank") Помощь
        a.footer__link(href="#" title="Обратная связь" target="_blank") Обратная связь
        a.footer__link(href="#" title="Разработчикам" target="_blank") Разработчикам
        a.footer__link(href="#" title="Условия использования" target="_blank") Условия использования
      
    script(src="main.js")
