/* Import Normalize from CDN */
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css';

///VARIABLES

///MEDIA IMPLEMENTATION
$phone: 320px;
$tablet: 768px;
$desktop: 1200px;

///MIXINS

/* ---------
BASIC STYLES */
html {
	font-size: 62.5%;
}

body {
	font-size: 1.3rem;
}