mixin link(title)
  a(href="#" title=title)&attributes(attributes)= title
  
mixin link_main(title)
  +link(title)(class="main-nav__link")
  
mixin link_footer(title)
  +link(title)(class="footer__link")
  
//- icons
mixin icon_light()
  img(src="assets/icon_sun.svg" alt="light")&attributes(attributes)

mixin icon_light_active()
  img(src="assets/icon_sun_active.svg" alt="light_active")&attributes(attributes)

mixin icon_temp()
  img(src="assets/icon_temperature.svg" alt="temp")&attributes(attributes)

mixin icon_temp_active()
  img(src="assets/icon_temperature_active.svg" alt="temp_active")&attributes(attributes)
    
mixin icon_timer()
  img(src="assets/icon_scheduled.svg" alt="scheduled")&attributes(attributes)
  
//- important stuff  
mixin item(name, info, key, active)
  div.item.has-hover&attributes(attributes)
    i.item__icon
      if key === "light"
        if active 
          +icon_light_active()
        else
          +icon_light()
      else if key === "temp"
        if active
          +icon_temp_active()
        else
          +icon_temp()
      else if key === "scheduled"
        +icon_timer()
      else if block
        block
    h3.item__name= name
    span.info.info--item= info
    
mixin item_big(name, info, key, active)
  +item(name, info, key, active)(class="item--big")
    block
  
mixin pill(name)
  .subnav__pill.has-hover&attributes(attributes)= name
